.navigationDropdownList {
    display: flex;
    flex-direction: column;

    gap: 8px;

    position: absolute;

    width: auto;
    min-width: 120px;

    padding: 16px;

    background-color: #f4f4f4;

    border: 1px solid #000;
    border-radius: 8px;
}

.navigationDropdownItem {
}

.navigationDropdownLink {
}

.navigationDropdownLink:hover {
    color: #af961a;
}
