.navigationContainer {
    overflow: hidden;

    padding: 8px 0;
}

.navigationList {
    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 24px;

    padding: 0 16px;

    background-color: #082518c9;

    overflow-x: scroll;
    overflow-y: hidden;
}

.navigationList::-webkit-scrollbar {
    display: none;
}

.navigationList {
    scrollbar-width: none;
}

.navigationItem {
    font-size: 12px;

    flex-shrink: 0;

    padding: 16px 0;
}

.navigationItemLast ul {
    right: 0;
}

.navigationItemContainer {
    display: flex;
    align-items: center;

    gap: 4px;

    font-size: 16px;
    color: #fff;
}

@media screen and (min-width: 768px) {
    .navigationContainer {
        padding: 16px 0;
    }

    .navigationList {
        padding: 0 32px;
    }

    .navigationItem {
        font-size: 14px;
    }

    .navigationItemContainer {
        font-size: 18px;
    }
}

@media screen and (min-width: 1440px) {
    .navigationContainer {
        padding: 32px 0;
    }

    .navigationList {
        padding: 0 64px;
    }

    .navigationItem {
        font-size: 16px;
    }

    .navigationItemContainer {
        font-size: 20px;
    }
}
