.mailClickerText {
    font-size: 16px;
    margin-bottom: 16px;

    text-align: center;
}

.mailClickerLink {
    display: flex;
    align-items: center;

    gap: 8px;

    width: fit-content;

    margin: 0 auto;

    background-color: #fff9;

    border: 1px solid #0003;
    border-radius: 4px;

    color: #000;
    font-weight: 700;

    padding: 8px 16px;

    transition: background-color 0.2s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.mailClickerLink:hover {
    background-color: #f0f0f0;
    color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1440px) {
}
