.page {
    padding-bottom: 16px;
}

.title {
    margin-bottom: 40px;
}

.list {
    display: flex;
    flex-direction: column;

    gap: 32px;
}

.itemTitle {
    margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
    .page {
        padding-bottom: 24px;
    }
}

@media screen and (min-width: 1440px) {
    .page {
        padding-bottom: 32px;
    }
}
