.header {
    padding: 0 0 8px;
}

.headerText {
    color: #000;
    font-weight: 600;
}

.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 32px;
}

.headerLogoImage {
    width: 120px;
}

.headerBasketIcon {
    width: 40px;
    height: 40px;
}

@media screen and (min-width: 768px) {
    .header {
        padding: 0 0 16px;
    }

    .headerLogoImage {
        width: 200px;
    }
}

@media screen and (min-width: 1440px) {
    .header {
        padding: 0 0 32px;
    }

    .headerLogoImage {
        width: 250px;
    }
}
